<header>
    <div class="container">
        <a class="toggler" href="#">
            <span></span>
            <span></span>
            <span></span>
        </a>

        {% include 'theme::partials.navigation' %}
    </div>
</header>