<nav class="main-nav">
    {% for link in links('header').get() %}
        <a target="{{ link.target }}" class="item {% if link.current %}current{% endif %}" href="{{ link.url }}" title="{{ link.title }}">
            <span class="icon icon-{{ link.class }}"></span>
        </a>
    {% endfor %}
</nav>
