article {
    margin-bottom: rhythm(2);

    & > aside {
        padding-left: 2px;
        font-size: 13px;

        &.breadcrumbs {
            margin-bottom: rhythm(1);
        }

        span.spacer {
            margin: 0 rhythm(0.5);
        }
    }

    & > time {
        display: block;
        padding-left: 2px;
        font-size: 13px;
    }

    .title {
        margin-top: 0;
        font-size: 31px;
        font-weight: 600;
        line-height: 1.3;

        & > a {
            color: map-get($colors-article, title);

            &:hover {
                color: map-get($colors-article, title-hover);
            }
        }
    }

    blockquote {
        margin: rhythm(2) 0;
        padding: rhythm(1) rhythm(1) rhythm(1) rhythm(1.5);
        border-left: 5px solid map-get($colors-article, blockquote-border);
        background-color: map-get($colors-article, blockquote-background);

        & > p {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    :not(pre) > code {
        background: map-get($colors-highlight, inline);
    }

    &.history {
        .post {
            display: flex;
            flex-direction: row;

            time {
                display: block;
                margin-right: rhythm(1);
            }

            a {
                display: block;
                flex: 1;
            }
        }
    }
}