@mixin header-icon {
    display: inline-block;
    text-decoration: none;

    & > span.icon {
        color: map-get($colors-theme, header-link);
        text-align: center;
        font-size: 24px;
        transition: color .1s linear;
    }

    &:hover span.icon, &.current span.icon {
        color: map-get($colors-theme, header-hover);
    }
}

div.app {
    & > header {
        background-color: map-get($colors-theme, header-stripe);
        border-bottom: 5px solid map-get($colors-theme, header-background);

        & > nav.main-nav {
            margin-top: 13px;
            max-width: 768px;
            text-align: center;

            @media screen and (min-width: 768px) {
                display: none;
            }

            & a.item {
                @include header-icon;

                margin-left: rhythm(1/3);
                margin-right: rhythm(1/3);
            }
        }
    }

    & > div.container {
        & > header {
            background-color: map-get($colors-theme, header-stripe);

            & > nav.main-nav {
                text-align: center;

                & a.item {
                    @include header-icon;

                    margin-top: rhythm(1/3);
                    margin-bottom: rhythm(1/3);
                }
            }
        }
    }
}
