div.app > header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: map-get($colors-theme, header-stripe);
    border-bottom: 5px solid map-get($colors-theme, header-background);

    & > nav.main-nav {
        & a.item {
            text-decoration: none;

            & > span.icon {
                display: inline-block;
                width: 50px;
                min-width: 50px;
                color: map-get($colors-theme, header-link);
                text-align: center;
                font-size: 24px;
                transition: color .1s linear;
            }

            &:hover span.icon, &.current span.icon {
                color: map-get($colors-theme, header-hover);
            }
        }
    }
}
