div.app {
    & > header {
        position: fixed;
        top: 0;
        width: 100%;
        height: 50px;

        @media screen and (min-width: 768px) {
            height: 0;
        }
    }

    & > div.container {
        display: flex;
        flex-direction: row;
        margin-top: 55px;

        @media screen and (min-width: 768px) {
            margin-top: 5px;
        }

        & > header {
            display: none;
            width: 50px;
            min-width: 50px;

            @media screen and (min-width: 768px) {
                display: block;
            }

            & > nav.main-nav {
                position: fixed;
                top: 28px;
                width: 50px;
            }
        }

        & > main {
            display: flex;
            flex-direction: column;
            width: 768px;
            min-width: 0;
            height: calc(100vh - 55px);
            padding: rhythm(0.5) rhythm(0.5) 0 rhythm(0.5);
            box-sizing: border-box;

            @media screen and (min-width: 768px)  {
                height: calc(100vh - 5px);
            }

            @media screen and (min-width: 480px) {
                padding: rhythm(1) rhythm(1) 0 rhythm(1);
            }

            @media screen and (min-width: 640px) {
                padding: rhythm(1.5) rhythm(1.5) 0 rhythm(1.5);
            }

            & > article.last {
                flex: 1;
            }
        }

        & > aside {
            flex: 1;

            & > div.container {
                position: fixed;
                width: 100%;
                height: 100vh;
                background: url({{ asset_path('theme::img/computer-lab.jpg') }}) no-repeat;
            }
        }
    }
}
