@import 'node_modules/bulma/bulma.sass';

main {
    margin: 0 10px;
}

.tabs-content {
    .tab {
        display: none;

        &.is-active {
            display: block;
        }
    }

    button {
        margin-top: 20px;
    }
}

.container {
    &.messages {
        margin-bottom: 40px;
    }
}

.table {
    .actions {
        text-align: right;
    }
}