body {
    background-color: map-get($colors, light);
    color: map-get($colors, font);
}

a {
    color: map-get($colors, brand);
    text-decoration: none;

    &:hover {
        color: map-get($colors, font);
    }

    &:focus {
        outline: none;
    }
}