body {
    background-color: map-get($colors, light);
    color: map-get($colors, font);
    letter-spacing: 0.03em;
}

a {
    color: map-get($colors, brand);
    text-decoration: none;

    &:hover {
        color: map-get($colors, font);
    }

    &:focus {
        outline: none;
    }
}

::selection {
    background: map-get($colors, brand);
    color: map-get($colors, white);
}