$primary-font: 'Encode Sans', sans-serif;
$monospace-font: 'Ubuntu Mono', monospace;
$font-size: 17px;

$rhythm: 20px;

$colors: (
    brand: #fb503b,
    inverse: #2b2b2b,
    light: #fbf9f8,
    highlight: #e6e4e3,
    font: #4d4c4c,
    white: #ffffff,
    dark: #b3b1b1
);