<header>
    <div class="container">
        <a class="item toggler" href="#">
            <span class="icon icon-menu"></span>
        </a>

        <nav class="main-nav">
            <a class="item" href="#">
                <span class="icon icon-twitter"></span>
                <span class="label">Twitter</span>
            </a>
            <a class="item" href="#">
                <span class="icon icon-github"></span>
                <span class="label">Github</span>
            </a>
        </nav>
    </div>
</header>