<header>
    <div class="container">
        <a class="toggler" href="#">
            <span></span>
            <span></span>
            <span></span>
        </a>

        {{ navigation('header')|raw }}
    </div>
</header>