<header>
    <div class="container">
        <a class="item toggler" href="#">
            <span class="icon icon-menu"></span>
        </a>

        <nav class="main-nav">
            {% for link in links('header').get() %}
                <a target="{{ link.target }}" class="item" href="{{ link.url }}">
                    <span class="{{ link.class }}"></span>
                    <span class="label">{{ link.title }}</span>
                </a>
            {% endfor %}
        </nav>
    </div>
</header>