<header>
    <div class="container">
        <a class="toggler" href="#">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <nav class="main-nav">
            {% for link in links('header').get() %}
                <a target="{{ link.target }}" class="item" href="{{ link.url }}">
                    <i class="{{ link.class }}" aria-hidden="true"></i>
                    <span class="label">{{ link.title }}</span>
                </a>
            {% endfor %}
        </nav>
    </div>
</header>