<div class="images-container">
    <div class="images-type-{{ type }}">
        {% for image in images %}
            <a class="image" href="{{ image.full }}">
                <img src="{{ image.thumb }}" alt="">
            </a>
        {% endfor %}
    </div>
</div>