{% extends 'theme::app' %}

{% set posts = category.posts().live().paginate() %}

{% block body %}
    <main>
        {% include 'theme::posts.partials.header' with {'title': trans('theme::addon.blog.category_title', { 'name': category.title })} %}

        {% include 'theme::posts.partials.summaries' %}

        {{ posts.links|raw }}

        <footer>
            {{ trans('theme::addon.footer')|raw }}
        </footer>
    </main>
{% endblock %}