{% extends 'theme::app' %}

{% set posts = entries('posts').whereTags('LIKE', '%"' ~ route_parameter('tag') ~ '"%').paginate() %}

{% block body %}
    <main>
        {% include 'theme::posts.partials.header' with {'title': trans('theme::addon.blog.tag_title', { 'name': tag })} %}

        {% include 'theme::posts.partials.summaries' with {'cat': true} %}

        {{ posts.links|raw }}

        <footer>
            {{ trans('theme::addon.footer')|raw }}
        </footer>
    </main>
{% endblock %}